<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" th:href="@{/css/main_style.css}">
    <link rel="stylesheet" th:href="@{/css/create_style.css}">
    <link rel="stylesheet" th:href="@{/css/blocks/header_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>


    <div class="container">
        <h1 class="page_title">New task</h1>
        <form class="form" method="post" modelAttribute="TaskForm" th:action="@{/project/create_task}">
            <input type="hidden" th:value="${project_id}" name="projectId" id="projectId">
            <input type="hidden" value="2" name="status" id="status">
            <input type="hidden" value="a" name="member" id="member">
            <div class="form_input">
                <label class="form_input_label" for="title">Task title</label>
                <input class="form_input_input" type="text" name="title" id="title" placeholder="Task title"/>
            </div>
            <div class="form_input">
                <label class="form_input_label" for="description">Task description</label>
                <textarea class="form_input_textarea" name="description" id="description" placeholder="Task description"></textarea>
            </div>
            <div class="form_input">
                <label class="form_input_label" for="priority">Task priority</label>
                <input class="form_input_input" type="text" name="priority" id="priority"/>
            </div>
            
            <button class="cnf btn" type="submit" value="create">Create</button>
        </form>
    </div>

</body>
</html>