<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project info</title>
    <link rel="stylesheet" th:href="@{/css/project_style.css}">
    <link rel="stylesheet" th:href="@{/css/blocks/header_style.css}">
    <link rel="stylesheet" th:href="@{/css/main_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<header th:insert="blocks/project_header :: header"></header>

<div class="container">
    <div class="title">
        <h1 class="page_title" th:text="${project.getTitle()}"></h1>
    </div>
    <p class="page_title" th:text="${project.getDescription()}"></p>
    <a class="btn deny" th:if="${role == 'OWNER'}" th:href="@{'/project/delete_project?project_id=' + ${project.getId()}}">Delete project</a>


</div>

</body>
</html>