<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/create_style.css}">
    <link rel="stylesheet" th:href="@{/css/blocks/header_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>



    <div class="container">
        <h1 class="page_title">New project</h1>

        <form method="post" class="form" th:action="@{/create_project}" modelAttribute="projectForm">
            <div class="form_input">
                <label class="form_input_label" for="title">Project title</label>
                <input class="form_input_input" type="text" name="title" id="title" placeholder="Project title"/>
            </div>
            <div class="form_input">
                <label class="form_input_label" for="description">Project description</label>
                <textarea class="form_input_textarea"  name="description" id="description" placeholder="Project description"></textarea>
            </div>
            <div class="form_input">
                <label class="form_input_label">Project members</label>
                <div class="select-btn">
                    <span class="btn-text">Select Language</span>
                    <span class="arrow-dwn">
                    <i class="fa-solid fa-chevron-down"></i>
                </span>
                </div>

                <ul class="list-items">
                    <li class="item" th:each="user, userStat : ${users}">
                    <span class="checkbox">
                        <i class="fa-solid fa-check check-icon"></i>
                    </span>
                        <span class="item-text" th:text="${user.getName()}"></span>
                        <input disabled class="member-input" type="hidden" name="members"
                               th:value="${user.getId()}">
                    </li>
                </ul>
            </div>


            <button class="add_proj" type="submit" value="create">Create</button>
        </form>
    </div>
    <script th:src="@{/js/userSelector.js}"></script>
    <footer th:insert="blocks/basement :: basement"></footer>
</body>
</html>