
.form {
    padding: 10px 30px;
}

.form_input {
    margin-bottom: 1rem;
}

.form_input_label {
    display: block;
    color:#fff;
    font-size: 18px;
    margin-bottom: 0.25rem;
}

.form_input_input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_input_textarea {
    display: block;
    width: 100%;
    height: calc((2.25rem + 2px)*3);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: vertical;
}


.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 2px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}


.member-input {
    font-size: 18px;
    padding: 5px;
    height: 35px;
    width: 350px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 5px;
    color: #000000;
}
.member-datalist {
    position: absolute;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
    max-height: 10rem;
    overflow-y: auto
}

.member-option {
    background-color: white;
    padding: 4px;
    color: #000000;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
}

.member-option:hover{
    background-color: #b9b9b9;
}



.choosen {
    color: #000;
    font-size: 17px;
    height: 50px;
    min-width: 30%;
    max-width: 50%;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.73);
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.choosen-manager {
    margin-top: 5px;
    margin-left: 0;
    justify-content: space-between;
}

.checkbox-label {
    margin: 0;
    padding: 0;
    display:inline;
    vertical-align: middle;
}

.custom-checkbox {
    width:fit-content;
    min-width: 30px;
}