body {
    font-family: "Catamaran","Arial",sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #333;
    background: rgb(58,70,251);
background: radial-gradient(circle, rgba(58,70,251,1) 0%, rgba(45,140,252,1) 100%);
}

*,
*::after,
*::before { 
    box-sizing: border-box;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page_title {
    color:#fff;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.table_block {
    color: #000;
    font-size: 17px;
    height: 50px;
    width: 80%;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    border: 2px solid rgb(43, 48, 87);
    border-radius: 20px;
    background-color: rgb(187, 228, 255);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.table_block:hover {
    text-decoration: none;
}

.table_name {
    padding: 20px;
}

.table_count_users {
    padding: 20px;
    font-weight: bold;
    color: rgb(69, 63, 161);
}

.title {
    margin-top: 20px;
    display: flex;
}

.add_proj {
    color: #fff; /* цвет текста */
    margin: 5px 5px 5px 20px;
    height: 32px;
    width: 120px;
    border: solid 1px;
    border-color: #000;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(32, 30, 150); /* фон кнопки */
    padding: .2em 1em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
.add_proj:hover { background: rgb(18, 137, 216); } /* при наведении курсора мышки */
.add_proj:active { background: rgb(85, 174, 233); } /* при нажатии */