body {
    font-family: "Catamaran","Arial",sans-serif;
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: rgb(25, 25, 25);
    background: rgb(0,8,128);
    background: linear-gradient(167deg, rgba(0,8,128,1) 0%, rgba(0,134,251,1) 100%);
}

*,
*::after,
*::before { 
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.box {
    height: 260px;
    width: 270px;
    margin: auto auto;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.384);
}

.form {
    margin: auto;
    display:block;
    text-align: center;
    line-height: 1;
}

.form_header {
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form_textline {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.form_input {
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
}

.sign_in {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(67, 77, 182); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-style: solid;
    border-width: 1px;
} 

.sign_in:hover { background: rgb(169, 175, 247);; } /* при наведении курсора мышки */
.sign_in:active { background:  rgb(36, 50, 250)} /* при нажатии */