.task_block {
    display: inline-block;
    color: #000;;
    width: 40%;
    margin: 5px;
    border: 2px solid rgb(43, 48, 87);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.73);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.task_content {
    padding: 15px 20px;
}

.task_head {
    display: flex;
    justify-content: space-between;
}

.task_name {
    font-size: 25px;
}
.task_subname {
    font-size: 20px;
}

.task_priority {
    font-size: 20px;
    color: crimson;

}

.task_description {
    font-size: 19px;
    color: #333;
    word-break:break-all;
}

.task_members {
    font-size: 18px;
}

.task_member {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
}

.task_member::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: #1d2941;
}

.tsk-btn {
    color: #fff;
    margin: 7px 5px 5px 20px;
    height: 32px;
    width:fit-content;
    border: solid 1px;
    border-color: #000;
    text-decoration: none;
    user-select: none;
    background: rgb(46, 94, 2);
    padding: .2em 1em;
    outline: none;
}
.tsk-btn:hover { background: rgb(67, 134, 5); }
.tsk-btn:active { background: rgb(32, 65, 1); }