.user {
    color: #000;
    font-size: 17px;
    height: 50px;
    width: 50%;
    margin-top: 10px;
    margin-left: 0;
    display: flex;
    border: 2px solid rgb(43, 48, 87);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.73);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.user:hover {
    text-decoration: none;
}

.user-name {
    width: 200px;
    padding: 20px;
}

.buttons {
    display: flex;
}

.btn {
    color: #fff;
    margin: 0px 16px 0px 0px;
    height: 32px;
    width:fit-content;
    border: solid 1px;
    border-color: #000;
    text-decoration: none;
    user-select: none;
    padding: .2em 1em;
    outline: none;
}

.user-role {
    align-self: self-end;
    background: rgb(2, 31, 94);
    width: 220px;
}
.user-role:hover { background: rgb(3, 43, 131); }
.user-role:active { background: rgb(1, 19, 61); }

.user-dlt { background: rgb(94, 2, 5);}
.user-dlt:hover { background: rgb(131, 3, 3); }
.user-dlt:active { background: rgb(61, 1, 1); }

